html,
body {
  /* background-color: black; */
  background-image: url('./images/homepage.png');
  background-color: rgba(0, 0, 0, 0.2);
}


body {
  display: grid;
}

h2 {
  font-size: 18px;
}

playlistName {
  grid-area: 'name';
}
bothCounters {
  grid-area: 'counters';
}
mainFilter {
  grid-area: 'filter';
}
spotifyIcon {
  grid-area: 'spotIcon';
}


@media (max-width: 600px) {
  .playlistGridFull {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
  }
}

@media (max-width: 600px) {
  button {
    display: grid;
    margin-top: 75px;
    width: 70%;
    border-radius: 70px;
  }
}
