html,
body {
  background-color: black;
}
body {
  display: grid;
}

h2 {
  font-size: 18px;
}

playlistName {
  grid-area: 'name';
}
bothCounters {
  grid-area: 'counters';
}
mainFilter {
  grid-area: 'filter';
}
spotifyIcon {
  grid-area: 'spotIcon';
}

@media only screen and (max-width: 767px) {
  topItems {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    justify-items: center;
    /* grid-column: 1/-1; */
    /* grid-auto-rows: minmax(100px, auto); */
    /* grid-template-areas:
      'name'
      'counters'
      'filter'
      'spotIcon';*/
  }
}

@media only screen and (max-width: 767px) {
  button .loginButton {
    display: grid;
    font-size: 35px;
    margin-top: 150px;
    background-color: rgb(47, 213, 102);
    border: none;
    width: 70%;
    justify-self: center;
    border-radius: 70px;
    color: white;
  }
}
